# About Series()

In [1]:
import pandas as pd
import numpy as np

# pd.Series(
    ['data=None', 'index=None', 'dtype=None', 'name=None', 'copy=False', 'fastpath=False'],
)

#   --> data value must be scaler , array ,dict

In [2]:
# creat a series
s1 = pd.Series(data = np.arange(0,6))
s1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [3]:
s2 = pd.Series(data = np.arange(0,6),index = ['a','b','c','d','e','f'])
s2

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32

In [4]:
s3 = pd.Series(data = np.arange(0,6),index = ['a','b','c','d','e','f'],dtype= np.int64)
print(s3)

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [5]:
s4 = pd.Series(data = np.arange(0,6),index = ['a','b','c','d','e','f'],dtype= np.int64,name = 'my series')
print(s4)

a    0
b    1
c    2
d    3
e    4
f    5
Name: my series, dtype: int64

In [6]:
s5 = pd.Series(data = np.arange(0,6),index = ['a','b','c','d','e','f'],dtype= np.int64,name = 'my series',copy = False,fastpath=False)
print(s5)

a    0
b    1
c    2
d    3
e    4
f    5
Name: my series, dtype: int64

# if i want to apply maths operation in series.

In [7]:
s6 = pd.Series(data = np.arange(0,6))
s7 = pd.Series(data = np.arange(0,6))
s6 + s7

0     0
1     2
2     4
3     6
4     8
5    10
dtype: int32

In [8]:
s6 -s7

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int32

In [9]:
s6 * s7

0     0
1     1
2     4
3     9
4    16
5    25
dtype: int32

In [10]:
s6 / s7

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

In [11]:
s6 ** s7

0       1
1       1
2       4
3      27
4     256
5    3125
dtype: int32

In [12]:
s9 = pd.Series([1,2,3,np.nan])

In [13]:
s9

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

# s9.add(other, level=None, fill_value=None, axis=0)

In [14]:
s9.add(10)

0    11.0
1    12.0
2    13.0
3     NaN
dtype: float64

In [15]:
s9 = s9.add(10,fill_value=10)
s9

0    11.0
1    12.0
2    13.0
3    20.0
dtype: float64

In [16]:
s9.subtract(10)

0     1.0
1     2.0
2     3.0
3    10.0
dtype: float64

In [17]:
s9.multiply(2)

0    22.0
1    24.0
2    26.0
3    40.0
dtype: float64

In [18]:
s9.divide(2)

0     5.5
1     6.0
2     6.5
3    10.0
dtype: float64

In [19]:
s9

0    11.0
1    12.0
2    13.0
3    20.0
dtype: float64

In [20]:
s9.sum()

56.0

In [21]:
s9

0    11.0
1    12.0
2    13.0
3    20.0
dtype: float64

In [28]:
s10 = pd.Series(data = np.arange(0,12))
s10

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
dtype: int32

In [31]:
s10.max()     # it gives maximum values in the series

11

In [33]:
s10.min()    # it gives minimum values in the series

0

In [34]:
s10.sum()

66

In [37]:
s10.count()

12

In [38]:
s10.mean()

5.5

In [39]:
66 / 12

5.5

In [40]:
s10.sum()/s10.count()    # its give also mean

5.5

In [43]:
s10.append(15)

TypeError: cannot concatenate object of type "<class 'int'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [46]:
s10.append(pd.Series(15))   # append karega last me

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
0     15
dtype: int64

In [47]:
s10.argmax()

C:\Users\Saurabh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

11

In [50]:
s10.values.argmax()     # it gives  index wich contain maximum value

11

In [52]:
s10.values.argmin()    # it gives  index wich contain minimum value

0

In [63]:
s10.dtype

dtype('int32')

In [66]:
s10 = s10.astype(dtype=float)    #Cast a pandas object to a specified dtype ``dtype``.

In [67]:
s10.dtype

dtype('float64')

In [68]:
s10 = s10.astype(dtype=int)

In [69]:
s10.dtype

dtype('int32')

In [72]:
s10.axes

[RangeIndex(start=0, stop=12, step=1)]

# creating new series

In [78]:
s12 = pd.Series([10,12,1,45,11])
s12

0    10
1    12
2     1
3    45
4    11
dtype: int64

In [80]:
s12.idxmax()   # it gives index wich contain maximum  value

3

In [82]:
s12.idxmin()   # it gives index wich contain minimum  value

2

In [84]:
s12.count()  # it gives totel number of element in series

5

In [86]:
s12.ndim

1

In [89]:
s12.is_unique    # Return boolean if values in the object are unique

True

In [96]:
s12.itemsize

C:\Users\Saurabh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

In [97]:
64/8

8.0